DATABASE_URL="postgresql+psycopg2://user@localhost:5432/dbname"
JWT_SECRET_KEY=""
GEMINI_API_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PRO_MONTHLY_PRICE_ID=""
PRO_YEARLY_PRICE_ID=""
FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://localhost:8000"
DASHBOARD_URL="http://localhost:3001"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SESSION_SECRET_KEY=""
ENVIRONMENT=""
COOKIE_DOMAIN=""
RESEND_API_KEY=""
EMAIL_FROM="Quizify <noreply@quizifyai.app>"
